<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <style>
.nani{
  display: none;
}
  </style>
    <title>Gaming Gateway</title>
</head>

<body>
  <% include template/header.ejs %>
<main id="main">

<div class="wrapper">
<div class="showcase" id="<%= Game %>">
  <form class="add-form" action='/addcommunity' method='post'>
<div class='nani'>
<input name="lol" id='lol' value="<%= Game %>" >
</div>
  <button class='btn' id='join' type='submit' > Join community </button>
</form>
<form class="leave-form" action='/leavecommunity' method='post'>
<div class='nani'>
<input name="lul" id='lul'  value="<%= Game %>" >
</div>
<button class='btn' id='leave' type='submit' > Leave community </button>
</form>
</div>
    <!-- chatbox -->
    <div class="list1">
<div class="well">
      <table class="table">
<tr>
  Users
</tr>
<% if(data.length){
for(var i = 0;i < data.length;i++) { %>
<tr>
<td><%=data[i].username%></td>
</tr>
<% }
}else{ %>
<tr>
<td colspan="3">No user</td>
</tr>
<% } %>
</table>
</div>
    </div>

<!-- list 1-->
<div class="list2">
          <ul class="list-group" id="users"></ul>
</div>
<!-- list 2 -->
<div class="chatbox">
               <div class="ok">
                <div class="chat" id="chat"></div>
              </div>
                <form id="messageForm">
                  <div class="form-group">
                    <textarea class="form-control" id="message"></textarea>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Send Message" />
                  </div>
                </form>
            </div>
        </div>
</main>

<footer id="ooter">
    <div>Home Made Web Studios ©2017</div>
</footer>
<script>
  $(function(){
    var socket = io.connect();
    var $messageForm = $('#messageForm');
    var $message = $('#message');
    var $chat = $('#chat');
    var $users = $('#users');
    socket.emit('create', '<%= Game %>');
    $messageForm.submit(function(e){
      e.preventDefault();
      socket.emit('send message', $message.val());
      $message.val('');
    });
socket.on('get users', function(data){
var html='<li class="list-group-item">Online users</li>';
for(i=0;i<data.length;i++){
html += '<li class="list-group-item">'+data[i]+'</li>' ;
}
$users.html(html);
  });

    socket.on('new message', function(data){
      $chat.append('<div class="well"><strong>'+data.user+'</strong>: '+data.msg+'</div>');
    });
  });
</script>
</body>
</html>
